<div ng-show="question.answers.length">
  <h2>Answers for {{ question.prompt }}</h2>
  <ul>
    <li ng-repeat="item in question.answers">
      {{ item.reply }}
    </li>
  </ul>
</div>

<div>
  <h2>Write a response to {{ question.prompt }}</h2>
  <form ng-submit="addAnswer()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="answerReply" class="form-control" placeholder="Give that poor sap some advice">
    </div>
    <button type ="submit" class="btn btn-default">Submit</button>
  </form>
</div>
