<div ng-show="questions.length">
  <h1>Here are all of the hopeless problems of the masses:</h1>
  <ul>
    <li ng-repeat="item in questions">
      <a ui-sref="questions.answers({ questionId: item.id })">{{ item.prompt }}</a>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>Put another problem off on someone else</h3>
  <form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.questionPrompt" class="form-control" placeholder="What do you need help with now?">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ui-view></div>
